In [1]:
import sqlite3

# sample.db という名前のデータベースファイル
db = 'sample.db'

# データベースに接続：connectionオブジェクトを作成
# データベースが既に存在するときはそのまま接続
# データベースがないときは新しく作成して接続
con = sqlite3.connect(db)

# カーソルオブジェクトを作成
csr = con.cursor()

# テーブルを作成
sql = 'create table Employee(name, email, department, position);'
csr.execute(sql)

# 保存
con.commit()

# 接続を終了
con.close()

In [20]:
import sqlite3
# sample.db という名前のデータベースファイル
db = 'sample.db'
# データベースに接続
con = sqlite3.connect(db)
# カーソルオブジェクトを作成
csr = con.cursor()
# テーブルにデータを格納
sql = "insert into Employee(name, email, department, position) \
values('Yamada','yamada@abcxyz.co.jp','Sales','staff');"
csr.execute(sql)
sql = "insert into Employee(name, email, department, position) \
values('Suzuki','suzuki@abcxyz.co.jp','Development','staff');"
csr.execute(sql)

#この時点の内容を確認
sql = "select * from Employee;"
csr.execute(sql)
print(csr.fetchall())

# テーブルからデータを削除
sql = "delete from Employee where name = 'Yamada';"
csr.execute(sql)
#23 この時点の内容を確認
sql = "select * from Employee;"
csr.execute(sql)
print(csr.fetchall())
# テーブル中のデータを更新続く
sql = "Update Employee set position = 'Manager' where name = 'suzuki';"
csr.execute(sql)

# 保存
con.commit()

# 内容を読み取って表示
sql = "select * from Employee;"
csr.execute(sql)
print(csr.fetchall())

#接続を終了
con.close()

[('Yamada', 'yamada@abcxyz.co.jp', 'Sales', 'staff'), ('Suzuki', 'suzuki@abcxyz.co.jp', 'Development', 'staff')]
[('Suzuki', 'suzuki@abcxyz.co.jp', 'Development', 'staff')]
[('Suzuki', 'suzuki@abcxyz.co.jp', 'Development', 'staff')]

In [9]:
import sqlite3
db = 'test.db'
con = sqlite3.connect(db)
csr = con.cursor()

csr.execute('create table human (name, nickname); ')

csr.execute("insert into human (name) values('Ichiro');")
csr.execute("insert into human(name) values('Jiro');")
csr.execute("insert into human(name) values('Saburo');")

csr.execute("update human set nickname = 'Lazer' where name ='Ichiro';")

csr.execute("select * from human;")
print(csr.fetchall())

con.commit()
con.close()

[('Ichiro', 'Lazer'), ('Jiro', None), ('Saburo', None)]

In [10]:
import sqlite3
db = 'test.db'
con = sqlite3.connect(db)
csr = con.cursor()

In [ ]:
csr.execute('create table human(name, nickname);')

In [ ]:
csr.execute("insert into human(name) values('Ichiro');")
csr.execute("insert into human(name) values('Jiro');")
csr.execute("insert into human(name) values('Saburo');")

In [ ]:
csr.execute("Update human ser nickname = 'Lazer' where name = 'Ichiro';")

In [13]:
csr.execute("select * from human;")
print(csr.fetchall())

con.commit()
con.close()

[('Ichiro', 'Lazer'), ('Jiro', None), ('Saburo', None)]

In [14]:
import sqlite3

db = 'test.db'
con = sqlite3.connect(db)
csr = con.cursor()

csr.execute("Update human set nickname = 'Lazer' where name = 'Jiro';")

csr.execute("delete from human where nickname = 'Lazer';")

csr.execute("select * from human;")
print(csr.fetchall())

con.commit()
con.close()

[('Saburo', None)]